.ganador{
    background-color: green;
}
body{
    background-image: url(images/2078959.webp);
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.casilla{
    display: flex;
    align-items: center;
    justify-content: center;
}
#verde{
    background-color: green;
}
